<!-- IF S_VIEWTOPIC or S_IN_UCP or S_IN_POSTING -->
<!-- INCLUDEJS @tatiana5_tosrus/hammer.min.js -->
<!-- INCLUDEJS @tatiana5_tosrus/lib/FlameViewportScale.js -->
<!-- INCLUDEJS @tatiana5_tosrus/jquery.tosrus.all.min.js -->

<script type="text/javascript">
jQuery(function( $ ) {
	$.tosrus.defaults.media.image = {
		filterAnchors: function( $anchor ) {
			return true;
		}
	};
});

function add_tosrus(e, elements) {
	elements.find("dl.thumbnail a").addClass("tosrus");
	elements.find(".attach-image img").each(function() {
		var i = $(this).attr("src");
		$(this).wrap('<a class="tosrus" href="' + i + '"></a>');
	});
	$("a.tosrus").tosrus({
		pagination : {
			add        : true,
			type       : "thumbnails"
		},
		wrapper    : {
			classes    : "img-border"
		}
	});
}
$(document).ready(function (e) {
	add_tosrus(e, $(document));
});
$('#qr_posts').on('qr_completed', add_tosrus);
$('#qr_postform').on('ajax_submit_preview', function (e) {
	add_tosrus(e, $('#preview'));
});
</script>
<!-- ENDIF -->
