<!-- IF S_VIEWTOPIC or S_IN_UCP or S_IN_POSTING or S_RECENT_TOPICS -->
<!-- INCLUDEJS @tatiana5_tosrus/hammer.min.js -->
<!-- INCLUDEJS @tatiana5_tosrus/lib/FlameViewportScale.js -->
<!-- INCLUDEJS @tatiana5_tosrus/jquery.tosrus.all.min.js -->

<script type="text/javascript">
jQuery(function( $ ) {
	$.tosrus.defaults.media.image = {
		filterAnchors: function( $anchor ) {
			return true;
		}
	};
});

function add_tosrus_class(elements) {
	// attachments
	elements.find("dl.thumbnail a").addClass("tosrus");
	elements.find(".attach-image img").each(function() {
		var i = $(this).attr("src");
		$(this).wrap('<a class="tosrus" href="' + i + '"></a>');
	});

	// [img]
	elements.find('a').not('.tosrus').has('img').each(function() {
		if ($.inArray( $(this).attr( 'href' ).toLowerCase().split( '.' ).pop().split( '?' )[ 0 ], [ 'jpg', 'jpe', 'jpeg', 'gif', 'png', 'bmp' ] ) > -1 && $(this).children('img').not('.smilies').length > 0)
		{
			$(this).addClass('tosrus');
			
			if (~$(this).attr('href').toLowerCase().indexOf('//pixs.ru')) {
				var img_url = $(this).children('img').attr('src');
				var new_url = img_url.replace('/thumbs/', '/storage/');

				$(this).attr('href', new_url);
			}
		} else {
			if (~$(this).attr('href').toLowerCase().indexOf('//img-fotki.yandex.ru')) {
				$(this).addClass('tosrus');
			} else if (~$(this).attr('href').toLowerCase().indexOf('//fotki.yandex.ru')) {
				var img_url = $(this).children('img').attr('src');
				var img_reg = /(.*)_([a-zA-Z]*)(\.[a-zA-Z]*)$/;
				var new_url_arr;

				if (new_url_arr = img_reg.exec(img_url)) {
					$(this).attr('href', new_url_arr[1] + '_orig' + new_url_arr[3]).addClass('tosrus');
				} else {
					img_reg = /(.*)_([a-zA-Z]*)$/;
					if (new_url_arr = img_reg.exec(img_url)) {
						$(this).attr('href', new_url_arr[1] + '_orig').addClass('tosrus');
					}
				}
			} else if (~$(this).attr('href').toLowerCase().indexOf('//i-fotki.info')) {
				var img_url = $(this).children('img').attr('src');
				var new_url = img_url.replace('/thumb/', '/org/');

				$(this).attr('href', new_url).addClass('tosrus');
			} else if (~$(this).attr('href').toLowerCase().indexOf('//radikal.ru')) {
				var img_url = $(this).children('img').attr('src');
				var img_reg = /(.*)(\.[a-zA-Z]*)$/;
				var new_url_arr;

				if (new_url_arr = img_reg.exec(img_url)) {
					$(this).attr('href', new_url_arr[1].slice(0, -1) + new_url_arr[2]).addClass('tosrus');
				}
			} else if (~$(this).attr('href').toLowerCase().indexOf('//vfl.ru')) {
				var img_url = $(this).children('img').attr('src');
				var img_reg = /(.*)_([a-zA-Z]*)(\.[a-zA-Z]*)$/;
				var new_url_arr;

				if (new_url_arr = img_reg.exec(img_url)) {
					$(this).attr('href', new_url_arr[1] + new_url_arr[3]).addClass('tosrus');
				}
			}
		}
	});

	elements.find('img').not('a img').not('.smilies').each(function() {
		var i = $(this).attr("src");
		$(this).wrap('<a class="tosrus" href="' + i + '"></a>');
	});
	
	tosrus_resize(elements);
}

function tosrus_resize(elements) {
	;(function ($) {
		$.fn.bindImageLoad = function (callback) {
			function isImageLoaded(img) {
				// Во время события load IE и другие браузеры правильно
				// определяют состояние картинки через атрибут complete.
				// Исключение составляют Gecko-based браузеры.
				if (!img.complete) {
					return false;
				}
				// Тем не менее, у них есть два очень полезных свойства: naturalWidth и naturalHeight.
				// Они дают истинный размер изображения. Если какртинка еще не загрузилась,
				// то они должны быть равны нулю.
				if (typeof img.naturalWidth !== "undefined" && img.naturalWidth === 0) {
					return false;
				}
				// Картинка загружена.
				return true;
			}
			return this.each(function () {
				var ele = $(this);
				if (ele.is("img") && $.isFunction(callback)) {
					ele.one("load", callback);
					if (isImageLoaded(this)) {
						ele.trigger("load");
					}
				}
			});
		};
	})(jQuery);

	elements.find('a.tosrus img').not('dl.thumbnail a img').not('.attach-image a img').bindImageLoad(function() {
		$(this).removeAttr("width")
		$(this).removeAttr("height")
		$(this).css({ width: "", height: "" });
		var h = $(this).height();
		var w = $(this).width();
		var size = 420; // Img tag max width
		if (w > size || h > size) {
			if (w > h) {
				h = h*(size/w);
				w = size;
			} else {
				w = w*(size/h);
				h = size;
			}
			$(this).width(w);
			$(this).height(h);
		}
	});
}

function add_tosrus(e, elements) {
	add_tosrus_class(elements);

	$("a.tosrus").tosrus({
		pagination : {
			add        : true,
			type       : "thumbnails"
		},
		wrapper    : {
			classes    : "img-border"
		}
	});
}

function separate_add_tosrus(e, elements) {
	add_tosrus_class(elements);

	elements.find('.postbody').each(function() {
		$(this).find('a.tosrus').tosrus({
			pagination : {
				add        : true,
				type       : "thumbnails"
			},
			wrapper    : {
				classes    : "img-border"
			}
		});
	});
}
$(document).ready(function (e) {
	add_tosrus(e, $('.post .content'));
});
$('#qr_posts').on('qr_completed', add_tosrus);
$('#qr_postform').on('ajax_submit_preview', function (e) {
	add_tosrus(e, $('#preview'));
});
$('#recent_topics').on('recent_topics_success', separate_add_tosrus);
</script>
<!-- ENDIF -->
